{% extends "admin/change_form.html" %}
{% load custom_tags %}

{% block after_related_objects %}
    {{ block.super }}
    <h2 style="text-align: center;">{{ original.title }}が含まれる本棚</h2>
    <table id="booklist-table" class="sortable">
        <thead>
            <tr>
                <th onclick="sortTable(0)">BookList Title</th>
                <th onclick="sortTable(1)">Owner</th>
            </tr>
        </thead>
        <tbody>
            {% for pb in original.personal_books.all|unique_booklists %}
                <tr>
                    <td>{{ pb.booklist.title }}</td>
                    <td>{{ pb.booklist.owner.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <style>
        table.sortable {
            width: 100%;
            border-collapse: collapse;
            margin: 0 0 40px 0; /* テーブルとボタンの間にスペースを追加 */
        }
        table.sortable th, table.sortable td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        table.sortable th {
            cursor: pointer;
            background-color: #f2f2f2;
        }
        table.sortable th:hover {
            background-color: #ddd;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        tr:hover {
            background-color: #ddd;
        }
        h2 {
            margin-top: 20px;
        }
    </style>

    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("booklist-table");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
{% endblock %}
